<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- {{>header}} --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="css/aboutstyle.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
  <div class="image-aboutus-banner"style="margin-top:0px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">"Transform your body and mind at our state-of-the-art gym with expert trainers and a supportive community!"</p>
       </div>
    </div>
</div>
</div>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Who we are and<br>what we do</h1>
						<p>Attention all fitness enthusiasts! Get ready to reach your fitness goals with our state-of-the-art gym facility. With a wide range of equipment and amenities, our gym is designed to help you achieve your fitness objectives. Whether you're a beginner or an experienced fitness buff, our friendly and knowledgeable staff is here to support you every step of the way.</p>
						<h4>Our gym features:</h4>
						<ul>
							<li>Cutting-edge cardio and weightlifting equipment</li>
							<li>Group fitness classes taught by certified instructors</li>
							<li>Personal training services</li>
							<li>Clean and spacious changing rooms</li>
						</ul>
<p>Join now and enjoy a free trial for 7 days. Experience the best in fitness at our gym! Contact us today to schedule a tour and get started on your fitness journey.</p>
                        {{!-- <p class="lead">This is the world's leading portal for<br>easy and quick </p> --}}
                    </div>
                    <div class="col-md-6">
                    	<p>Welcome to Our Gym!

We are a fitness community dedicated to helping people reach their fitness goals and live healthier, happier lives. Our state-of-the-art facility is equipped with the latest in strength and cardio equipment, and our experienced trainers and staff are here to provide guidance and support every step of the way.

Our mission is to provide a welcoming and inclusive environment where everyone can feel comfortable working out and pursuing their fitness dreams. Whether you're a seasoned athlete or just starting out, we believe that everyone deserves the opportunity to live a healthy, active life.

We offer a variety of classes and programs to suit all levels of fitness, including strength training, cardio, yoga, and more. Our knowledgeable trainers are here to help you get the most out of your workouts, and our supportive community will keep you motivated and on track.</p>
                        
                    </div>
</div>
    </div>
</div>
<div class="container team-sektion paddingTB60" >
	<div class="row">
		<div class="site-heading text-center">
						<h3 style="padding-left: 210px;">Our Trainers</h3>
						<p style="padding-left: 50px;">Motivation and accountability: Trainers can provide motivation and accountability to help clients stay on track </p>
						<div class="border"></div>
					</div>
	</div>
	<div class="row">
		<div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="https://images.pexels.com/photos/1480530/pexels-photo-1480530.jpeg?auto=compress&cs=tinysrgb&w=600">
		    <div class="team-content">    
		        <h3>Philip Freeman</h3>
		        <div class="border-team"></div>
		        <p>Philip is available for personal training sessions at the gym, as well as for virtual training sessions for clients who prefer to workout from home. He also leads group fitness classes and offers nutrition coaching services.</p>
		        <div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="https://images.pexels.com/photos/1638324/pexels-photo-1638324.jpeg?auto=compress&cs=tinysrgb&w=600">
		    <div class="team-content">    
		        <h3>Phoebe Buffay</h3>
		        <div class="border-team"></div>
		        <p>Phoebe has experience training clients of all ages and fitness levels, but has a particular passion for helping women achieve their fitness goals. She offers a variety of training options, including one-on-one personal training, small group training, and online coaching.</p>
		        <div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="https://images.pexels.com/photos/1547248/pexels-photo-1547248.jpeg?auto=compress&cs=tinysrgb&w=600">
		    <div class="team-content">    
		        <h3>Robert D'costa</h3>
		        <div class="border-team"></div>
		        <p>Robert believes that a combination of proper technique, hard work, and a positive attitude is key to achieving fitness goals. He works with clients to develop safe and effective workout plans that are tailored to their individual needs and goals.</p>
		        <div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>
		    </div>
		</div>
	</div>
	    
</div>
</div>
{{!-- <div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Homes for sale?</b> Explore properties like a pro.</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                <button type="button" class="btn btn-primary site-btn">Start Right Now</button>
            </div>
        </div>
    </div>
</div> --}}
<hr>
<div class="footer-section">
    <div class="footer">
	<div class="container">
		<div class="col-md-4 footer-one">
			<h5>About Us </h5>
		    <p>We are a fitness community dedicated to helping people reach their fitness goals and live healthier, happier lives. Our state-of-the-art facility is equipped with the latest in strength and cardio equipment.</p>
		    	<div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>	
		</div>
		<div class="col-md-3 footer-two">
		    <h5>Information </h5>
		    <ul>
									<li><a href="maintenance.html">Maintenance Tips</a></li>
									<li><a href="contact.html">Locations</a></li>
									<li><a href="about.html">Testimonials</a></li>
									<li><a href="about.html">Careers</a></li>
									<li><a href="about.html">Partners</a></li>
								</ul>
		</div>
		<div class="col-md-3 footer-three">
		    <h5>Helpful Links </h5>
		    <ul>
									<li><a href="maintenance.html">Maintenance Tips</a></li>
									<li><a href="contact.html">Locations</a></li>
									<li><a href="about.html">Testimonials</a></li>
									<li><a href="about.html">Careers</a></li>
									<li><a href="about.html">Partners</a></li>
								</ul>
		</div>
		<div class="clearfix"></div>
	</div>


<hr>
    {{!-- {{>footer}} --}}
</body>
</html>