<nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FITNESS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><span style="color:cyan;">H</span>ome</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link active" href="/aboutus"><span style="color:cyan;">A</span>bout Us</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link active" href="/contactus"><span style="color:cyan;">C</span>ontact Us</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link active" href="/payment"><span style="color:cyan;">P</span>ayment</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item" style="background: rgb(38, 38, 101);">
             <a style="color: rgb(251, 254, 254); " class="nav-link active" href="/facilities"><strong>Facilities</strong></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item  fw-light" href="file:///C:/Users/A638056/Downloads/payment.html">Payment</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item " href="/contactUs">Contact Us</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item "
                href="file:///C:/Users/A638056/OneDrive%20-%20Atos/Desktop/java%20program%20code/user%20report.html">User
                Report</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item "
                href="file:///C:/Users/A638056/OneDrive%20-%20Atos/Desktop/java%20program%20code/replacement.html">Replacement</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --}}

        
        <li class="nav-item">
          <a class="nav-link active" href="/"><span style="color:cyan;">L</span>ogout</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

       
         <li class="nav-item" >
             <a style="color: aqua; " class="nav-link active" href="/mydetails"><strong>My Details</strong></a>
        </li>
          
    

      </ul>

    </div>
  </div>
</nav>